<html>
<head>
    <title>Simple Flask TODO app in Python Flask</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script  type = "text/javascript">
      function redirect(link) {
        window.location.href = link;
     }
    </script>
</head>
  <body>
  <div class="container">
    <h2 class="display-2">Upload image</h2>
    <form method="POST" enctype=multipart/form-data action="/">
         <div class="input-group mb-3">
              <input  type="file" name="file" class="form-control" placeholder="Add a new plant">
              <input type="submit" value="Upload" onclick="redirect('/upload')">
            </div>
    </form>

    <h2 class="display-2">Plants</h2>
    <div class="row" style="display: flex; flex-wrap: wrap;">
      {% for plant in plants %}
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" id="{{plant.filename}}" src="{{url_for('download_file', name=plant.filename)}}"  style="width: 100%; height: 15vw; object-fit: cover;" alt="Plant image">
          <div class="card-body">
            <h5 class="card-title">{{plant.species}}</h5>
            <p class="card-text">Spotted in: {{plant.location}}</p>
            <a href="#" class="btn btn-primary" style="background-color:#40826D; border-color:#40826D;" onclick="redirect('/edit/{{plant.id}}')" data-target="/edit/{{plant.id}}" name="delete">Delete</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <center style="margin-top: 5%; margin-bottom: 5%;">
      <iframe class="map embed-responsive-item", src="/map" width="1105" height="360"></iframe>
  </center>
  </div>
  </body>
</html>